.chatLogo {
  display: flex;
  justify-content: center;
  color: white;
  width: 700px;
}

.chatScreen {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  background-color: black;
  border-radius: 12px;
  padding: 10px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 100px;
  width: 700px;
  height: 500px;
}

.chatMessages {
  overflow: hidden;
  word-wrap: break-word;
  max-width: 700px;
  max-height: 500px;
  overflow-y: auto;
}

.chatScreenPlace {
  width: 1890px;
  height: 700px;
  display: flex;
  justify-content: center;
}

.chatMessage {
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  padding: 10px;
  border-radius: 12px;
  background-color: #191919;
  margin: 10px;
  color: white;
}

.chatUser {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color:  white ;

}

.messageSet {
  display: flex;
  justify-content: center;
  width: 100%;
}

.messageSetTwo {
  width: 1000px;
}

.messageInput {
  width: 700px;
  background-color: black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
  font-family: "DM Sans", sans-serif;
  border-radius: 12px;
  
}

.messageInputText {
  width: 350px;
  height: 50px;
  font-family: "DM Sans", sans-serif;
  border-radius: 12px;
  border: none;
  background-color: #191919;
  color: white;
  margin: 10px;
  outline: 0;
  outline-offset: 0;
  padding-left: 30px;
}

.messageButtonSent {
  border: none;
  color: white;
  background-color: #191919;
  transition: background-color 0.7s;
  transition: color 0.7s;
  border-radius: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-left: 10px;
  height: 40px;
  width: 50px;
}

.messageButtonDelete {
  border: none;
  color: white;
  background-color: #191919;
  transition: background-color 0.7s;
  transition: color 0.7s;
  border-radius: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-left: 10px;
  height: 40px;
  width: 50px;
}

.messageButtonSent:hover {
  color: #191919;
  background-color: #33cc31;
}

.messageButtonDelete:hover {
  color: #191919;
  background-color: #cc3131;
}

.unregistered {
  position: absolute;
  top: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  background-color: #191919;
  border-radius: 12px;
  margin: 15px;
  padding: 10px;
  
}



.registrationLink {
  font-size: 20px;
  font-weight: bold;
}

.messageButtons {
  display: flex;
  margin-left: 10px;
}
